# Task 2: Query a dataset

We need `pymongo`, `dnspython` and `python==3.6`

# Task 1: Create an account and getting familiar with MongoDB

## 1.1 - Setup an MongoDB ATLAS account
Follow the instructions from here: https://docs.google.com/document/d/1Puyz0RLfEqiCRl-ZaKdtKloEqVsN8GKdMuraKn1ZdoI/edit?usp=sharing 


## 1.2 - MongoDB concepts compared to Relational DB concepts
In MongoDB, a **database** is the container for collections. A single **collection**  is the container for documents. **Documents** are usually key/value pairs but it can include arrays and subdocuments. It can support different data types. More information here: https://docs.mongodb.com/manual/reference/bson-types/. 

| Relational DB  | MongoDB  |
|---|---|
|  Database | Database  |  
| Tables  |  Collections |
| Rows  | Documents  |
| Index  |  Index |
 	


## 1.3 Document structure
You can find more information about MongoDB document structure https://docs.mongodb.com/manual/core/document/. If you are not familiar with JSON and BSON specifications, you might wish to read about them here:
- JSON: https://www.json.org/json-en.html
- BSON: http://bsonspec.org

In [1]:
# install missing library
!pip install pymongo
!pip install dnspython

Requirement already satisfied: pymongo in e:\anaconda_neve\lib\site-packages (3.12.1)
Requirement already satisfied: dnspython in e:\anaconda_neve\lib\site-packages (2.1.0)

If you use Google's collab, you now have to select `Runtime -> Restart runtime` or `Ctrl+M`.

In [2]:
#@title Imports
import pymongo
from pprint import pprint
from random import randint

## 2.1 - Establish a connection to MongoDB

- **_[TO DO]_** : Connect to MongoDB using the MongoClient class from PyMongo library.

In [3]:
###########################
# Task: 
#   use MongoClient class to connect to MongoDB
#
###########################
from pymongo import MongoClient
### TO DO
client = pymongo.MongoClient("mongodb+srv://Lin:Mapci93650@daps2020.w5yak.mongodb.net/daps2020?retryWrites=true&w=majority", ssl=True,ssl_cert_reqs='CERT_NONE')
db = client.test
#db=client.admin


#########

Let's check whether everything works properly by retrieving the server status and printing the results, as follows:

In [4]:
serverStatusResult=db.command("serverStatus")
pprint(serverStatusResult)

{'$clusterTime': {'clusterTime': Timestamp(1635951740, 49),
                  'signature': {'hash': b'B\xe4\xe1\xe2Gl\xd0j\xaef\x88\xa3'
                                        b'\xe6 \xfe\xe8\xbe}\xb5\xc9',
                                'keyId': 6985604577110261768}},
 'asserts': {'msg': 0, 'regular': 0, 'rollovers': 0, 'user': 0, 'warning': 0},
 'atlasVersion': {'gitVersion': '438fb41196e737d1aedcff6aac76f3e7895653ac',
                  'version': '20211027.0.0.1634935068'},
 'connections': {'available': 494, 'current': 6, 'totalCreated': 27},
 'extra_info': {'note': 'fields vary by platform', 'page_faults': 0},
 'host': 'daps2020-shard-00-01.w5yak.mongodb.net:27017',
 'localTime': datetime.datetime(2021, 11, 3, 15, 2, 20, 303000),
 'mem': {'bits': 64,
         'mapped': 0,
         'mappedWithJournal': 0,
         'resident': 0,
         'supported': True,
         'virtual': 0},
 'metrics': {'aggStageCounters': {'search': 0, 'searchBeta': 0},
             'atlas': {'connectionPool': {'totalCreated': 24947}}},
 'network': {'bytesIn': 49602716, 'bytesOut': 889787, 'numRequests': 700},
 'ok': 1.0,
 'opLatencies': {'commands': {'latency': 3498841761, 'ops': 445},
                 'reads': {'latency': 983508, 'ops': 20},
                 'writes': {'latency': 166552578, 'ops': 232}},
 'opcounters': {'command': 456,
                'delete': 0,
                'getmore': 0,
                'insert': 217704,
                'query': 12,
                'update': 1},
 'opcountersRepl': {'command': 0,
                    'delete': 0,
                    'getmore': 0,
                    'insert': 0,
                    'query': 0,
                    'update': 0},
 'operationTime': Timestamp(1635951740, 49),
 'pid': 143330,
 'process': 'mongod',
 'repl': {'electionId': ObjectId('7fffffff0000000000000043'),
          'hosts': ['daps2020-shard-00-00.w5yak.mongodb.net:27017',
                    'daps2020-shard-00-01.w5yak.mongodb.net:27017',
                    'daps2020-shard-00-02.w5yak.mongodb.net:27017'],
          'ismaster': True,
          'lastWrite': {'lastWriteDate': datetime.datetime(2021, 11, 3, 15, 2, 20),
                        'majorityOpTime': {'t': 67,
                                           'ts': Timestamp(1635951740, 49)},
                        'majorityWriteDate': datetime.datetime(2021, 11, 3, 15, 2, 20),
                        'opTime': {'t': 67, 'ts': Timestamp(1635951740, 49)}},
          'me': 'daps2020-shard-00-01.w5yak.mongodb.net:27017',
          'primary': 'daps2020-shard-00-01.w5yak.mongodb.net:27017',
          'rbid': 1,
          'secondary': False,
          'setName': 'atlas-8zz304-shard-0',
          'setVersion': 6,
          'tags': {'nodeType': 'ELECTABLE',
                   'provider': 'AWS',
                   'region': 'EU_WEST_1',
                   'workloadType': 'OPERATIONAL'},
          'topologyVersion': {'counter': 6,
                              'processId': ObjectId('616f16b5aefa36bef7628d3f')}},
 'storageEngine': {'backupCursorOpen': False,
                   'dropPendingIdents': 0,
                   'name': 'wiredTiger',
                   'oldestRequiredTimestampForCrashRecovery': Timestamp(1635951712, 1007),
                   'persistent': True,
                   'readOnly': False,
                   'supportsCommittedReads': True,
                   'supportsPendingDrops': True,
                   'supportsSnapshotReadConcern': True,
                   'supportsTwoPhaseIndexBuild': True},
 'uptime': 1281479.0,
 'uptimeEstimate': 1281479,
 'uptimeMillis': 1281479140,
 'version': '4.4.10'}


## 2.2 - Create sample data

Let's create our synthetic dataset with students, their mark (scaled from 1-10) and the reviewer on DAPS 2020.

In [5]:
names = ['Anna','Maria','George', 'Mike', 'Alex','Paul','Nick', 'Andrew','Ellie', 'Natalia']
surname = ['Adams', 'Baker', 'Palmer', 'Peterson', 'Roberts', 'Turner', 'Armstrong']
reviewer = ['Laura','Miguel']
student=[]
for i in range(1, 30):
    student.append({
        'name' : names[randint(0, (len(names)-1))] + ' '  + surname[randint(0, (len(surname)-1))],
        'DAPS_assignment' : randint(1, 10),
        'reviewer':  reviewer[randint(0, (len(reviewer)-1))] })
print(student)

[{'name': 'George Armstrong', 'DAPS_assignment': 8, 'reviewer': 'Laura'}, {'name': 'Alex Peterson', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'name': 'Anna Palmer', 'DAPS_assignment': 2, 'reviewer': 'Laura'}, {'name': 'Mike Armstrong', 'DAPS_assignment': 8, 'reviewer': 'Laura'}, {'name': 'Maria Turner', 'DAPS_assignment': 10, 'reviewer': 'Laura'}, {'name': 'Anna Palmer', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}, {'name': 'Maria Armstrong', 'DAPS_assignment': 6, 'reviewer': 'Laura'}, {'name': 'Paul Baker', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'Paul Peterson', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'name': 'Anna Armstrong', 'DAPS_assignment': 2, 'reviewer': 'Laura'}, {'name': 'George Armstrong', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'Paul Peterson', 'DAPS_assignment': 10, 'reviewer': 'Laura'}, {'name': 'Alex Turner', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'Maria Baker', 'DAPS_assignment': 7, 'reviewer': 'Laura'}, {'name': 'Mike Armstrong', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}, {'name': 'George Armstrong', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'name': 'Ellie Peterson', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'name': 'Andrew Armstrong', 'DAPS_assignment': 3, 'reviewer': 'Laura'}, {'name': 'Maria Roberts', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}, {'name': 'Alex Armstrong', 'DAPS_assignment': 5, 'reviewer': 'Laura'}, {'name': 'Ellie Armstrong', 'DAPS_assignment': 8, 'reviewer': 'Laura'}, {'name': 'Andrew Armstrong', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'name': 'Nick Baker', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}, {'name': 'Paul Adams', 'DAPS_assignment': 2, 'reviewer': 'Laura'}, {'name': 'Anna Turner', 'DAPS_assignment': 5, 'reviewer': 'Laura'}, {'name': 'Anna Palmer', 'DAPS_assignment': 1, 'reviewer': 'Laura'}, {'name': 'Nick Turner', 'DAPS_assignment': 8, 'reviewer': 'Laura'}, {'name': 'Natalia Roberts', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'George Peterson', 'DAPS_assignment': 1, 'reviewer': 'Laura'}]



**_[TO DO]_**: Upload this database using `insert_one` or `insert_many` command.

In [16]:
# Create a database object called “students”  如果用client，建立的格式是database
#students = client.students
#print(students)
students.drop()

In [17]:
students = db.students #如果用db，建立的格式是集合
print(students)

Collection(Database(MongoClient(host=['daps2020-shard-00-00.w5yak.mongodb.net:27017', 'daps2020-shard-00-02.w5yak.mongodb.net:27017', 'daps2020-shard-00-01.w5yak.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-8zz304-shard-0', ssl=True, ssl_cert_reqs=<VerifyMode.CERT_NONE: 0>), 'test'), 'students')

In [18]:
import datetime
post = {"author": "Mike",
        "text": "My first blog post!",
        "tags": ["mongodb", "python", "pymongo"],
        "date": datetime.datetime.utcnow()}
posts = db.posts
post_id = posts.insert_one(post).inserted_id
post_id
posts.find_one()

{'_id': ObjectId('61829e9807d21b2387b4990f'),
 'author': 'Mike',
 'text': 'My first blog post!',
 'tags': ['mongodb', 'python', 'pymongo'],
 'date': datetime.datetime(2021, 11, 3, 14, 37, 12, 957000)}

In [19]:
###########################
# Task: 
#   upload this database using insert_one or insert_many command
#
###########################


### TO DO
#temp1=students.insert_one(post).inserted_id
#temp1
result = students.insert_many(student)
result.inserted_ids

#########

[ObjectId('6182a47d5ac5923a0fa6f5a9'),
 ObjectId('6182a47d5ac5923a0fa6f5aa'),
 ObjectId('6182a47d5ac5923a0fa6f5ab'),
 ObjectId('6182a47d5ac5923a0fa6f5ac'),
 ObjectId('6182a47d5ac5923a0fa6f5ad'),
 ObjectId('6182a47d5ac5923a0fa6f5ae'),
 ObjectId('6182a47d5ac5923a0fa6f5af'),
 ObjectId('6182a47d5ac5923a0fa6f5b0'),
 ObjectId('6182a47d5ac5923a0fa6f5b1'),
 ObjectId('6182a47d5ac5923a0fa6f5b2'),
 ObjectId('6182a47d5ac5923a0fa6f5b3'),
 ObjectId('6182a47d5ac5923a0fa6f5b4'),
 ObjectId('6182a47d5ac5923a0fa6f5b5'),
 ObjectId('6182a47d5ac5923a0fa6f5b6'),
 ObjectId('6182a47d5ac5923a0fa6f5b7'),
 ObjectId('6182a47d5ac5923a0fa6f5b8'),
 ObjectId('6182a47d5ac5923a0fa6f5b9'),
 ObjectId('6182a47d5ac5923a0fa6f5ba'),
 ObjectId('6182a47d5ac5923a0fa6f5bb'),
 ObjectId('6182a47d5ac5923a0fa6f5bc'),
 ObjectId('6182a47d5ac5923a0fa6f5bd'),
 ObjectId('6182a47d5ac5923a0fa6f5be'),
 ObjectId('6182a47d5ac5923a0fa6f5bf'),
 ObjectId('6182a47d5ac5923a0fa6f5c0'),
 ObjectId('6182a47d5ac5923a0fa6f5c1'),
 ObjectId('6182a47d5ac5923a0fa6f5c2'),
 ObjectId('6182a47d5ac5923a0fa6f5c3'),
 ObjectId('6182a47d5ac5923a0fa6f5c4'),
 ObjectId('6182a47d5ac5923a0fa6f5c5')]

## 2.3 - Query a document


**_[TO DO]_** : Find one student with score of 5. You can use the command `find_one`.

In [20]:
###########################
# Task: 
#   find one student with final DAPS_assignment score equal 5
#
###########################


### TO DO

students.find_one({'DAPS_assignment': 5})

#########

{'_id': ObjectId('6182a47d5ac5923a0fa6f5aa'),
 'name': 'Alex Peterson',
 'DAPS_assignment': 5,
 'reviewer': 'Miguel'}


**_[TO DO]_** : Query the database to find the total number of students with score 8 and 3? You can use `aggregation` or `find` command.

In [21]:
###########################
# Task: 
#   Count the total students with final DAPS_assignment score equal to 3 and 8.
#
###########################


### TO DO

temp1=students.count_documents({'DAPS_assignment': 3})
temp2=students.count_documents({'DAPS_assignment': 8})
temp=temp1+temp2
temp


#########

6

 Dr. Laura Toni is happy today and she is going to pass all students with final score 4.
 
**_[TO DO]_** : Change the score on all the students with final mark 4 to 5. You can use one of the following commands: `update_one`, `update_many` and `replace_one`.

In [23]:
###########################
# Task: 
#   Adjust the score on all the students with final mark 4 to 5.
#
###########################


### TO DO
oldvalues={'DAPS_assignment': 4}
newvalues = {"$set": { 'DAPS_assignment': 5 }}
students.update_many(oldvalues,newvalues)
for x in students.find():
    print(x)
#result = students.test.update_many({'DAPS_assignment': 4}, {'$set': {'DAPS_assignment': 5}})


#########

{'_id': ObjectId('6182a47d5ac5923a0fa6f5a9'), 'name': 'George Armstrong', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5aa'), 'name': 'Alex Peterson', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5ab'), 'name': 'Anna Palmer', 'DAPS_assignment': 2, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5ac'), 'name': 'Mike Armstrong', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5ad'), 'name': 'Maria Turner', 'DAPS_assignment': 10, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5ae'), 'name': 'Anna Palmer', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5af'), 'name': 'Maria Armstrong', 'DAPS_assignment': 6, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5b0'), 'name': 'Paul Baker', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5b1'), 'name': 'Paul Peterson', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5b2'), 'name': 'Anna Armstrong', 'DAPS_assignment': 2, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5b3'), 'name': 'George Armstrong', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5b4'), 'name': 'Paul Peterson', 'DAPS_assignment': 10, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5b5'), 'name': 'Alex Turner', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5b6'), 'name': 'Maria Baker', 'DAPS_assignment': 7, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5b7'), 'name': 'Mike Armstrong', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5b8'), 'name': 'George Armstrong', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5b9'), 'name': 'Ellie Peterson', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5ba'), 'name': 'Andrew Armstrong', 'DAPS_assignment': 3, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5bb'), 'name': 'Maria Roberts', 'DAPS_assignment': 9, 'reviewer': 'Miguel'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5bc'), 'name': 'Alex Armstrong', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5bd'), 'name': 'Ellie Armstrong', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5be'), 'name': 'Andrew Armstrong', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5bf'), 'name': 'Nick Baker', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5c0'), 'name': 'Paul Adams', 'DAPS_assignment': 2, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5c1'), 'name': 'Anna Turner', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5c2'), 'name': 'Anna Palmer', 'DAPS_assignment': 1, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5c3'), 'name': 'Nick Turner', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5c4'), 'name': 'Natalia Roberts', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5c5'), 'name': 'George Peterson', 'DAPS_assignment': 1, 'reviewer': 'Laura'}

That was an unfair move!

**_[TO DO]_** : Let's delete all the documents that Dr. Laura Toni marked!

In [24]:
###########################
# Task: 
#   Delete all documents with `reviewer:Laura`.
#
###########################


### TO DO
myquery={'reviewer': 'Miguel'}
students.delete_many(myquery)
for x in students.find():
    print(x)


#########

{'_id': ObjectId('6182a47d5ac5923a0fa6f5a9'), 'name': 'George Armstrong', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5ab'), 'name': 'Anna Palmer', 'DAPS_assignment': 2, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5ac'), 'name': 'Mike Armstrong', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5ad'), 'name': 'Maria Turner', 'DAPS_assignment': 10, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5af'), 'name': 'Maria Armstrong', 'DAPS_assignment': 6, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5b2'), 'name': 'Anna Armstrong', 'DAPS_assignment': 2, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5b4'), 'name': 'Paul Peterson', 'DAPS_assignment': 10, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5b6'), 'name': 'Maria Baker', 'DAPS_assignment': 7, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5ba'), 'name': 'Andrew Armstrong', 'DAPS_assignment': 3, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5bc'), 'name': 'Alex Armstrong', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5bd'), 'name': 'Ellie Armstrong', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5c0'), 'name': 'Paul Adams', 'DAPS_assignment': 2, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5c1'), 'name': 'Anna Turner', 'DAPS_assignment': 5, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5c2'), 'name': 'Anna Palmer', 'DAPS_assignment': 1, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5c3'), 'name': 'Nick Turner', 'DAPS_assignment': 8, 'reviewer': 'Laura'}
{'_id': ObjectId('6182a47d5ac5923a0fa6f5c5'), 'name': 'George Peterson', 'DAPS_assignment': 1, 'reviewer': 'Laura'}

GOOD JOB! You finished the tasks!


You might be asking yourself now: Why and when a non-elational database is useful? MongoDB allows storing data in documents. This is very useful when you have a lot of many-to-many relationships. Other advantages include:
- it enables the fast development of applications, 
- it supports highly diverse data types, 
- and allows efficient interations with applications at scale.
Read more here: https://www.mongodb.com/compare/mongodb-mysql 


You can learn more about developing MongoDB-based applications here:
- https://university.mongodb.com/courses/M121/about?jmp=M101Pap
- https://university.mongodb.com/courses/M220P/about?jmp=M101Pap
- https://university.mongodb.com/courses/M320/about?jmp=M101Pap